body {
  background: #f1f1f1;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0%;
  padding: 0%;
  font-family:  'Poppins', 'Roboto';
  position: relative;
  margin-top:55px;

}



/* navbar */

.navbar{
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0px;
  background-color: #9b615d !important;
  display: flex;
  margin-bottom: 0%;


}


.navbar a{
  color: black;
}


/* header */


.header{
  min-height: 100vh;
  width: 100%;
  background-image:url('/public/img/presto-header.jpeg');
  margin: 0%;


}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

#home_img
{
  height: 200px;
  width: auto;
}

.button {
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button_back {
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.button_back span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_back span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -150px;
  transition: 0.5s;
}

.button_back:hover span {
  padding-left: 15px;
}

.button_back:hover span:after {
  opacity: 1;
  right: 0;
}
/* card show.blade.php */
html,
body {
  position: relative;
  height: 100%;
}



.swiper {
  width: 300px;
  height: 300px;
  }

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}


/* animation card */


.card {
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.6s ease; 
  border-radius: 3%;
  background-color: black rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.8);
  
}




/* recensione */


.recensione {
  text-decoration: none; 
  border-bottom: none; 
}
